<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
      <th colspan="2">
      <h2>Dashboard Counts</h2>
      </th>
  </tr>
  </thead>
  <tr>
      <th>Total number of categories</th>
      <td><%= @category.length %></a></td>
    </tr>
    <tr>
      <th>Total number of products</th>
      <td><a href="/admin/products"><%= @product.length %></a></td>
    </tr>
</table>

</section>